# .gitignore
# Environnement virtuel
venv/
env/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Fichiers de données (trop gros pour GitHub)
*.csv
*.xlsx
*.xls
data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Environnement
.env
